@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #fac51c !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #fac51c !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #fac51c;
}
.btn-social:hover {
  background: #fac51c;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #fac51c;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #fac51c;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #fac51c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #fac51c;
}
.lead a,
.lead a:hover {
  color: #fac51c;
}
.lead blockquote {
  border-color: #fac51c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fef8e4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #fac51c;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #fac51c;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #8f2625;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
}
#menu-8 .link {
  font-size: 0.75rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #fac51c;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #8f2625;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-f .mbr-section-title,
#msg-box8-f p {
  color: #fff;
}
#menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-6 .navbar-toggler {
  color: #ffffff;
}
#menu-6 .link,
#menu-6 .dropdown-item {
  color: #ffffff;
}
#menu-6 .link {
  font-size: 0.75rem;
}
#menu-6 .dropdown-item,
#menu-6 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-6 .link:hover,
#menu-6 .dropdown-item:hover,
#menu-6 .link:focus,
#menu-6 .dropdown-item:focus {
  color: #fac51c;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-menu {
  background: #0e0e0e;
}
#menu-6 .nav-dropdown-sm .link:focus,
#menu-6 .nav-dropdown-sm .link:hover,
#menu-6 .nav-dropdown-sm .dropdown-item:focus,
#menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-6 .navbar,
#menu-6 .nav-dropdown-sm,
#menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-6 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6 .bg-color.transparent.opened .link:hover,
#menu-6 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6 .close-icon::before,
#menu-6 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-3w .mbr-section-title,
#msg-box8-3w p {
  color: #fff;
}
#menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-g .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-g .navbar-toggler {
  color: #ffffff;
}
#menu-g .link,
#menu-g .dropdown-item {
  color: #ffffff;
}
#menu-g .link {
  font-size: 0.75rem;
}
#menu-g .dropdown-item,
#menu-g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-g .link:hover,
#menu-g .dropdown-item:hover,
#menu-g .link:focus,
#menu-g .dropdown-item:focus {
  color: #fac51c;
}
#menu-g .link[aria-expanded="true"],
#menu-g .dropdown-menu {
  background: #8f2625;
}
#menu-g .nav-dropdown-sm .link:focus,
#menu-g .nav-dropdown-sm .link:hover,
#menu-g .nav-dropdown-sm .dropdown-item:focus,
#menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-g .navbar,
#menu-g .nav-dropdown-sm,
#menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-g .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-g .bg-color.transparent.opened .link:hover,
#menu-g .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-g .link[aria-expanded="true"],
#menu-g .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .close-icon::before,
#menu-g .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-i .mbr-section-title,
#msg-box8-i p {
  color: #fff;
}
#header3-x .mbr-section-title,
#header3-x .mbr-section-subtitle {
  text-align: center;
}
#header3-x H3 {
  font-size: 24px;
}
#header3-y .mbr-section-title,
#header3-y .mbr-section-subtitle {
  text-align: center;
}
#header3-y H3 {
  font-size: 24px;
}
#header3-z .mbr-section-title,
#header3-z .mbr-section-subtitle {
  text-align: center;
}
#header3-z H3 {
  font-size: 24px;
}
#header3-10 .mbr-section-title,
#header3-10 .mbr-section-subtitle {
  text-align: center;
}
#header3-10 H3 {
  font-size: 24px;
}
#header3-11 .mbr-section-title,
#header3-11 .mbr-section-subtitle {
  text-align: center;
}
#header3-11 H3 {
  font-size: 24px;
}
#header3-12 .mbr-section-title,
#header3-12 .mbr-section-subtitle {
  text-align: center;
}
#header3-12 H3 {
  font-size: 24px;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#header3-13 H3 {
  font-size: 24px;
}
#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #ffffff;
}
#menu-l .link {
  font-size: 0.75rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #fac51c;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #8f2625;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-n .mbr-section-title,
#msg-box8-n p {
  color: #fff;
}
#menu-1a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1a .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-1a .navbar-toggler {
  color: #ffffff;
}
#menu-1a .link,
#menu-1a .dropdown-item {
  color: #ffffff;
}
#menu-1a .link {
  font-size: 0.75rem;
}
#menu-1a .dropdown-item,
#menu-1a .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1a .link:hover,
#menu-1a .dropdown-item:hover,
#menu-1a .link:focus,
#menu-1a .dropdown-item:focus {
  color: #fac51c;
}
#menu-1a .link[aria-expanded="true"],
#menu-1a .dropdown-menu {
  background: #8f2625;
}
#menu-1a .nav-dropdown-sm .link:focus,
#menu-1a .nav-dropdown-sm .link:hover,
#menu-1a .nav-dropdown-sm .dropdown-item:focus,
#menu-1a .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-1a .navbar,
#menu-1a .nav-dropdown-sm,
#menu-1a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1a .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-1a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1a .bg-color.transparent.opened .link:hover,
#menu-1a .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-1a .link[aria-expanded="true"],
#menu-1a .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-1a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1a .close-icon::before,
#menu-1a .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-2f .mbr-section-title,
#msg-box8-2f p {
  color: #fff;
}
#content1-2j P {
  text-align: left;
}
#social-buttons1-6m .mbr-section-title {
  font-size: 24px;
}
#menu-1g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1g .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-1g .navbar-toggler {
  color: #ffffff;
}
#menu-1g .link,
#menu-1g .dropdown-item {
  color: #ffffff;
}
#menu-1g .link {
  font-size: 0.75rem;
}
#menu-1g .dropdown-item,
#menu-1g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1g .link:hover,
#menu-1g .dropdown-item:hover,
#menu-1g .link:focus,
#menu-1g .dropdown-item:focus {
  color: #fac51c;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-menu {
  background: #8f2625;
}
#menu-1g .nav-dropdown-sm .link:focus,
#menu-1g .nav-dropdown-sm .link:hover,
#menu-1g .nav-dropdown-sm .dropdown-item:focus,
#menu-1g .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-1g .navbar,
#menu-1g .nav-dropdown-sm,
#menu-1g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1g .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-1g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1g .bg-color.transparent.opened .link:hover,
#menu-1g .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1g .close-icon::before,
#menu-1g .close-icon::after {
  background-color: #ffffff;
}
#header3-3p .mbr-section-title,
#header3-3p .mbr-section-subtitle {
  text-align: center;
}
#header3-3v .mbr-section-title,
#header3-3v .mbr-section-subtitle {
  text-align: center;
}
#header3-3v H3 {
  font-size: 24px;
}
#menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-8 .navbar-toggler {
  color: #ffffff;
}
#menu-8 .link,
#menu-8 .dropdown-item {
  color: #ffffff;
}
#menu-8 .link {
  font-size: 0.75rem;
}
#menu-8 .dropdown-item,
#menu-8 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-8 .link:hover,
#menu-8 .dropdown-item:hover,
#menu-8 .link:focus,
#menu-8 .dropdown-item:focus {
  color: #fac51c;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-menu {
  background: #8f2625;
}
#menu-8 .nav-dropdown-sm .link:focus,
#menu-8 .nav-dropdown-sm .link:hover,
#menu-8 .nav-dropdown-sm .dropdown-item:focus,
#menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-8 .navbar,
#menu-8 .nav-dropdown-sm,
#menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-8 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8 .bg-color.transparent.opened .link:hover,
#menu-8 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-8 .link[aria-expanded="true"],
#menu-8 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-8 .close-icon::before,
#menu-8 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-3z .mbr-section-title,
#msg-box8-3z p {
  color: #fff;
}
#header3-42 .mbr-section-title,
#header3-42 .mbr-section-subtitle {
  text-align: center;
}
#header3-42 H3 {
  font-size: 24px;
}
#msg-box1-5q H3 {
  font-size: 24px;
}
#header3-45 .mbr-section-title,
#header3-45 .mbr-section-subtitle {
  text-align: center;
}
#header3-45 H3 {
  font-size: 24px;
}
#msg-box1-5r H3 {
  font-size: 24px;
}
#header3-44 .mbr-section-title,
#header3-44 .mbr-section-subtitle {
  text-align: center;
}
#header3-44 H3 {
  font-size: 24px;
}
#menu-1j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1j .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-1j .navbar-toggler {
  color: #ffffff;
}
#menu-1j .link,
#menu-1j .dropdown-item {
  color: #ffffff;
}
#menu-1j .link {
  font-size: 0.75rem;
}
#menu-1j .dropdown-item,
#menu-1j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1j .link:hover,
#menu-1j .dropdown-item:hover,
#menu-1j .link:focus,
#menu-1j .dropdown-item:focus {
  color: #fac51c;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-menu {
  background: #8f2625;
}
#menu-1j .nav-dropdown-sm .link:focus,
#menu-1j .nav-dropdown-sm .link:hover,
#menu-1j .nav-dropdown-sm .dropdown-item:focus,
#menu-1j .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-1j .navbar,
#menu-1j .nav-dropdown-sm,
#menu-1j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1j .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-1j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1j .bg-color.transparent.opened .link:hover,
#menu-1j .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-1j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1j .close-icon::before,
#menu-1j .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-2p .mbr-section-title,
#msg-box8-2p p {
  color: #fff;
}
#menu-1m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1m .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-1m .navbar-toggler {
  color: #ffffff;
}
#menu-1m .link,
#menu-1m .dropdown-item {
  color: #ffffff;
}
#menu-1m .link {
  font-size: 0.75rem;
}
#menu-1m .dropdown-item,
#menu-1m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1m .link:hover,
#menu-1m .dropdown-item:hover,
#menu-1m .link:focus,
#menu-1m .dropdown-item:focus {
  color: #fac51c;
}
#menu-1m .link[aria-expanded="true"],
#menu-1m .dropdown-menu {
  background: #8f2625;
}
#menu-1m .nav-dropdown-sm .link:focus,
#menu-1m .nav-dropdown-sm .link:hover,
#menu-1m .nav-dropdown-sm .dropdown-item:focus,
#menu-1m .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-1m .navbar,
#menu-1m .nav-dropdown-sm,
#menu-1m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1m .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-1m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1m .bg-color.transparent.opened .link:hover,
#menu-1m .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-1m .link[aria-expanded="true"],
#menu-1m .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-1m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1m .close-icon::before,
#menu-1m .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-2b .mbr-section-title,
#msg-box8-2b p {
  color: #fff;
}
#msg-box1-2c H3 {
  font-size: 14px;
  text-align: center;
}
#msg-box1-2d H3 {
  font-size: 14px;
  text-align: center;
}
#msg-box1-2e H3 {
  font-size: 14px;
  text-align: center;
}
#menu-1d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1d .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-1d .navbar-toggler {
  color: #ffffff;
}
#menu-1d .link,
#menu-1d .dropdown-item {
  color: #ffffff;
}
#menu-1d .link {
  font-size: 0.75rem;
}
#menu-1d .dropdown-item,
#menu-1d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1d .link:hover,
#menu-1d .dropdown-item:hover,
#menu-1d .link:focus,
#menu-1d .dropdown-item:focus {
  color: #fac51c;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-menu {
  background: #8f2625;
}
#menu-1d .nav-dropdown-sm .link:focus,
#menu-1d .nav-dropdown-sm .link:hover,
#menu-1d .nav-dropdown-sm .dropdown-item:focus,
#menu-1d .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-1d .navbar,
#menu-1d .nav-dropdown-sm,
#menu-1d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1d .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-1d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1d .bg-color.transparent.opened .link:hover,
#menu-1d .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-1d .link[aria-expanded="true"],
#menu-1d .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-1d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1d .close-icon::before,
#menu-1d .close-icon::after {
  background-color: #ffffff;
}
#header3-1s .mbr-section-title,
#header3-1s .mbr-section-subtitle {
  text-align: center;
}
#social-buttons1-1x .mbr-section-title {
  font-size: 20px;
}
#menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1z .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-1z .navbar-toggler {
  color: #ffffff;
}
#menu-1z .link,
#menu-1z .dropdown-item {
  color: #ffffff;
}
#menu-1z .link {
  font-size: 0.75rem;
}
#menu-1z .dropdown-item,
#menu-1z .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1z .link:hover,
#menu-1z .dropdown-item:hover,
#menu-1z .link:focus,
#menu-1z .dropdown-item:focus {
  color: #fac51c;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-menu {
  background: #8f2625;
}
#menu-1z .nav-dropdown-sm .link:focus,
#menu-1z .nav-dropdown-sm .link:hover,
#menu-1z .nav-dropdown-sm .dropdown-item:focus,
#menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-1z .navbar,
#menu-1z .nav-dropdown-sm,
#menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-1z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1z .bg-color.transparent.opened .link:hover,
#menu-1z .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-1z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1z .close-icon::before,
#menu-1z .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-22 .mbr-section-title,
#msg-box8-22 p {
  color: #fff;
}
#header3-24 .mbr-section-title,
#header3-24 .mbr-section-subtitle {
  text-align: center;
}
#header3-26 .mbr-section-title,
#header3-26 .mbr-section-subtitle {
  text-align: center;
}
#header3-26 H3 {
  font-size: 24px;
}
#testimonials1-27 .mbr-section-title {
  font-size: 24px;
}
#testimonials1-27 .card-block P {
  font-size: 14px;
}
#menu-30 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-30 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-30 .navbar-toggler {
  color: #ffffff;
}
#menu-30 .link,
#menu-30 .dropdown-item {
  color: #ffffff;
}
#menu-30 .link {
  font-size: 0.75rem;
}
#menu-30 .dropdown-item,
#menu-30 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-30 .link:hover,
#menu-30 .dropdown-item:hover,
#menu-30 .link:focus,
#menu-30 .dropdown-item:focus {
  color: #fac51c;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-menu {
  background: #8f2625;
}
#menu-30 .nav-dropdown-sm .link:focus,
#menu-30 .nav-dropdown-sm .link:hover,
#menu-30 .nav-dropdown-sm .dropdown-item:focus,
#menu-30 .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-30 .navbar,
#menu-30 .nav-dropdown-sm,
#menu-30 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-30 .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-30 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-30 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-30 .bg-color.transparent.opened .link:hover,
#menu-30 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-30 .close-icon::before,
#menu-30 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-34 .mbr-section-title,
#msg-box8-34 p {
  color: #fff;
}
#msg-box8-34 .lead {
  color: #ffffff;
}
#menu-36 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-36 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-36 .navbar-toggler {
  color: #ffffff;
}
#menu-36 .link,
#menu-36 .dropdown-item {
  color: #ffffff;
}
#menu-36 .link {
  font-size: 0.75rem;
}
#menu-36 .dropdown-item,
#menu-36 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-36 .link:hover,
#menu-36 .dropdown-item:hover,
#menu-36 .link:focus,
#menu-36 .dropdown-item:focus {
  color: #fac51c;
}
#menu-36 .link[aria-expanded="true"],
#menu-36 .dropdown-menu {
  background: #8f2625;
}
#menu-36 .nav-dropdown-sm .link:focus,
#menu-36 .nav-dropdown-sm .link:hover,
#menu-36 .nav-dropdown-sm .dropdown-item:focus,
#menu-36 .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-36 .navbar,
#menu-36 .nav-dropdown-sm,
#menu-36 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-36 .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-36 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-36 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-36 .bg-color.transparent.opened .link:hover,
#menu-36 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-36 .link[aria-expanded="true"],
#menu-36 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-36.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-36 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-36 .close-icon::before,
#menu-36 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-37 .mbr-section-title,
#msg-box8-37 p {
  color: #fff;
}
#menu-3e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3e .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-3e .navbar-toggler {
  color: #ffffff;
}
#menu-3e .link,
#menu-3e .dropdown-item {
  color: #ffffff;
}
#menu-3e .link {
  font-size: 0.75rem;
}
#menu-3e .dropdown-item,
#menu-3e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3e .link:hover,
#menu-3e .dropdown-item:hover,
#menu-3e .link:focus,
#menu-3e .dropdown-item:focus {
  color: #fac51c;
}
#menu-3e .link[aria-expanded="true"],
#menu-3e .dropdown-menu {
  background: #8f2625;
}
#menu-3e .nav-dropdown-sm .link:focus,
#menu-3e .nav-dropdown-sm .link:hover,
#menu-3e .nav-dropdown-sm .dropdown-item:focus,
#menu-3e .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-3e .navbar,
#menu-3e .nav-dropdown-sm,
#menu-3e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3e .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-3e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3e .bg-color.transparent.opened .link:hover,
#menu-3e .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-3e .link[aria-expanded="true"],
#menu-3e .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-3e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3e .close-icon::before,
#menu-3e .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-3f .mbr-section-title,
#msg-box8-3f p {
  color: #fff;
}
#menu-4d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4d .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-4d .navbar-toggler {
  color: #ffffff;
}
#menu-4d .link,
#menu-4d .dropdown-item {
  color: #ffffff;
}
#menu-4d .link {
  font-size: 0.75rem;
}
#menu-4d .dropdown-item,
#menu-4d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4d .link:hover,
#menu-4d .dropdown-item:hover,
#menu-4d .link:focus,
#menu-4d .dropdown-item:focus {
  color: #fac51c;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-menu {
  background: #8f2625;
}
#menu-4d .nav-dropdown-sm .link:focus,
#menu-4d .nav-dropdown-sm .link:hover,
#menu-4d .nav-dropdown-sm .dropdown-item:focus,
#menu-4d .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-4d .navbar,
#menu-4d .nav-dropdown-sm,
#menu-4d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4d .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-4d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4d .bg-color.transparent.opened .link:hover,
#menu-4d .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-4d .link[aria-expanded="true"],
#menu-4d .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-4d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4d .close-icon::before,
#menu-4d .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-54 .mbr-section-title,
#msg-box8-54 p {
  color: #fff;
}
#header3-56 .mbr-section-title,
#header3-56 .mbr-section-subtitle {
  text-align: center;
}
#header3-56 H3 {
  font-size: 24px;
}
#header3-57 .mbr-section-title,
#header3-57 .mbr-section-subtitle {
  text-align: center;
}
#header3-57 H3 {
  font-size: 24px;
}
#header3-58 .mbr-section-title,
#header3-58 .mbr-section-subtitle {
  text-align: center;
}
#header3-58 H3 {
  font-size: 24px;
}
#header3-59 .mbr-section-title,
#header3-59 .mbr-section-subtitle {
  text-align: center;
}
#header3-59 H3 {
  font-size: 24px;
}
#header3-5a .mbr-section-title,
#header3-5a .mbr-section-subtitle {
  text-align: center;
}
#header3-5a H3 {
  font-size: 24px;
}
#header3-5b .mbr-section-title,
#header3-5b .mbr-section-subtitle {
  text-align: center;
}
#header3-5b H3 {
  font-size: 24px;
}
#header3-55 .mbr-section-title,
#header3-55 .mbr-section-subtitle {
  text-align: center;
}
#header3-55 H3 {
  font-size: 24px;
}
#menu-4j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4j .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-4j .navbar-toggler {
  color: #ffffff;
}
#menu-4j .link,
#menu-4j .dropdown-item {
  color: #ffffff;
}
#menu-4j .link {
  font-size: 0.75rem;
}
#menu-4j .dropdown-item,
#menu-4j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4j .link:hover,
#menu-4j .dropdown-item:hover,
#menu-4j .link:focus,
#menu-4j .dropdown-item:focus {
  color: #fac51c;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-menu {
  background: #8f2625;
}
#menu-4j .nav-dropdown-sm .link:focus,
#menu-4j .nav-dropdown-sm .link:hover,
#menu-4j .nav-dropdown-sm .dropdown-item:focus,
#menu-4j .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-4j .navbar,
#menu-4j .nav-dropdown-sm,
#menu-4j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4j .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-4j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4j .bg-color.transparent.opened .link:hover,
#menu-4j .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-4j .link[aria-expanded="true"],
#menu-4j .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-4j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4j .close-icon::before,
#menu-4j .close-icon::after {
  background-color: #ffffff;
}
#header3-69 .mbr-section-title,
#header3-69 .mbr-section-subtitle {
  text-align: center;
}
#social-buttons1-6d .mbr-section-title {
  font-size: 24px;
}
#menu-4m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4m .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-4m .navbar-toggler {
  color: #ffffff;
}
#menu-4m .link,
#menu-4m .dropdown-item {
  color: #ffffff;
}
#menu-4m .link {
  font-size: 0.75rem;
}
#menu-4m .dropdown-item,
#menu-4m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4m .link:hover,
#menu-4m .dropdown-item:hover,
#menu-4m .link:focus,
#menu-4m .dropdown-item:focus {
  color: #fac51c;
}
#menu-4m .link[aria-expanded="true"],
#menu-4m .dropdown-menu {
  background: #8f2625;
}
#menu-4m .nav-dropdown-sm .link:focus,
#menu-4m .nav-dropdown-sm .link:hover,
#menu-4m .nav-dropdown-sm .dropdown-item:focus,
#menu-4m .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-4m .navbar,
#menu-4m .nav-dropdown-sm,
#menu-4m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4m .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-4m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4m .bg-color.transparent.opened .link:hover,
#menu-4m .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-4m .link[aria-expanded="true"],
#menu-4m .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-4m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4m .close-icon::before,
#menu-4m .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-4o .mbr-section-title,
#msg-box8-4o p {
  color: #fff;
}
#header3-4p .mbr-section-title,
#header3-4p .mbr-section-subtitle {
  text-align: center;
}
#header3-4p H3 {
  font-size: 24px;
}
#header3-4r .mbr-section-title,
#header3-4r .mbr-section-subtitle {
  text-align: center;
}
#header3-4r H3 {
  font-size: 24px;
}
#header3-4t .mbr-section-title,
#header3-4t .mbr-section-subtitle {
  text-align: center;
}
#header3-4t H3 {
  font-size: 24px;
}
#header3-4v .mbr-section-title,
#header3-4v .mbr-section-subtitle {
  text-align: center;
}
#header3-4v H3 {
  font-size: 24px;
}
#header3-4x .mbr-section-title,
#header3-4x .mbr-section-subtitle {
  text-align: center;
}
#header3-4x H3 {
  font-size: 24px;
}
#header3-4z .mbr-section-title,
#header3-4z .mbr-section-subtitle {
  text-align: center;
}
#header3-4z H3 {
  font-size: 24px;
}
#header3-51 .mbr-section-title,
#header3-51 .mbr-section-subtitle {
  text-align: center;
}
#header3-51 H3 {
  font-size: 24px;
}
#menu-5s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5s .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-5s .navbar-toggler {
  color: #ffffff;
}
#menu-5s .link,
#menu-5s .dropdown-item {
  color: #ffffff;
}
#menu-5s .link {
  font-size: 0.75rem;
}
#menu-5s .dropdown-item,
#menu-5s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-5s .link:hover,
#menu-5s .dropdown-item:hover,
#menu-5s .link:focus,
#menu-5s .dropdown-item:focus {
  color: #fac51c;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-menu {
  background: #8f2625;
}
#menu-5s .nav-dropdown-sm .link:focus,
#menu-5s .nav-dropdown-sm .link:hover,
#menu-5s .nav-dropdown-sm .dropdown-item:focus,
#menu-5s .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-5s .navbar,
#menu-5s .nav-dropdown-sm,
#menu-5s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5s .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-5s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5s .bg-color.transparent.opened .link:hover,
#menu-5s .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#menu-5s .link[aria-expanded="true"],
#menu-5s .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#menu-5s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5s .close-icon::before,
#menu-5s .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-6f .mbr-section-title,
#msg-box8-6f p {
  color: #fff;
}
